---
---

@import "{{ site.theme }}";


section {
  padding-left: 1em;
}

.wrapper { max-width: 1080px; }

cite { font-style: italic }

.background img { position: fixed;
  z-index: -1;
  height: 100vh;}

header { background-color: rgba($base-color, 0.75); border: 2px solid black; }

header li { background: $secondary-color;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid black;
  color: #222;
  transition: background 2s, color 1s; }

header li a { color: inherit }
header li a:hover { color: rebeccapurple }

header li:hover { background: rgb(255,255,0);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid black;
  color: black; }

a { color: #060; font-weight: bold; }
a:hover { color: rgb(0,200,0); font-weight: bold; }

p img { max-width: 100% }

#mc_embed_signup #mc-embedded-subscribe { color: black; background:#ff77ff; font-weight: bold; border: 1px solid black}