<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://derbydrama.com/assets/images/derbydrama-preview.jpg" />
    <meta property="og:image:width" content="1080" />
    <meta property="og:image:height" content="915" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <figure class="background">
        <img srcset="/assets/images/skaters-kaylee-320w.png 320w,
        /assets/images/skaters-kaylee-480w.png 480w,
        /assets/images/skaters-kaylee-800w.png 800w,
        /assets/images/skaters-kaylee-1080w.png 1500w"
        sizes="(max-width: 1500px) 100vw 1500px"
        src="assets/images/skaters-kaylee-320w.png"
        alt="Two roller derby skaters about to ???">
      </figure>

      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#faq">FAQ</a></li>
          <li><a href="#learn">Learn more</a></li>
          <li><a href="https://libbyhoracek.com">Libby's homepage</a></li>
        </ul>
      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>