<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}

      <section>
        <h2>{{ page.title }}</h2>

        {{ content }}

        <hr />

        <p class="right">Posted {{ page.date | date: '%B %d, %Y' }}</p>

      </section>

      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
  </body>
</html>